.circle-timer-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 2 / 5 / 8;
}

.circle-timer-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.circle-timer-background {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 8px;
}

.circle-timer-progress {
    fill: none;
    stroke: #2E7D32;
    stroke-width: 8px;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s linear;
}

.circle-timer-text {
    position: relative;
    font-size: 2em;
    font-weight: lighter;
    color: #2E7D32;
    user-select: none;
}