#history-bar-chart-root {
    margin-bottom: 3%;
    height: 75vh;
    width: 100%;
    justify-content: center;
}

#history-bar-chart-components {
    height: 100%;
}

button {
    font-family: 'system-ui';
    font-weight: 500;
    font-size: 4vw;
    border: 0;
    background-color: transparent;
    transition: background-color 0.15s ease-in-out;
    border-radius: 5px;
}

button:hover {
    background-color: #cdcdcd;
}

button:active {
    background-color: #9E9E9E;
}

#breakdown-toggle-buttons-container {
    justify-self: center;
    justify-content: space-between;
    display: flex;
    width: 40%;
    padding-top: -10vh;
}

#year-breakdown-button {
    font-size: 3vw;
}

#month-breakdown-button {
    font-size: 3vw;
}

#year-breakdown-button.active,
#month-breakdown-button.active {
    background-color: #81C784;
    color: white;
}

#year-breakdown-button.active:hover,
#month-breakdown-button.active:hover {
    background-color: #66BB6A;
}

#date-buttons-container {
    justify-self: center;
    justify-content: space-between;
    display: flex;
    width: 60%;
}

#month-input {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

#year-input {
    width: 10vw;
    height: 0px;
    position: absolute;
    font-size: 2vw;
    margin-top: 5vw;
    font-family: 'system-ui';
    visibility: collapse;
    text-align: center;
}

#history-bar-chart {
    height: 80%;
    padding-top: 2%;
    justify-self: center;
    display: flex;
    width: 90%;
}