h1 {
    font-family: 'system-ui';
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 600;
}

p {
    text-align: center;
    font-family: 'system-ui';
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    font-family: 'system-ui';
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.hours-played {
    height: 25vh;
}

#home-bar-chart {
    padding-top: 3%;
    height: 50vh;
    width: 100%;
    justify-content: center;
    display: flex;
}
