body {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
}

main {
    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    place-items: center;
}

.title {
    width: 100%;
    text-align: center;
    padding: 20px;
    user-select: none;
    grid-area: 1 / 1 / 2 / 9;
}

.title h1 {
    margin: 0;
    font-size: 4vw;
}

.text {
    margin-bottom: 2vh;
    font-size: 2vw;
    color: #9E9E9E;
    grid-area: 2 / 1 / 3 / 9; 
}

.save-button-container {
    text-align: center;
    grid-area: 7 / 1 / 8 / 9;
}

.timer-button {
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 7vh;
    background-color: #2E7D32;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.time-input-container {
    grid-area: 5 / 1 / 6 / 9;
}

.limits-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 2em;
    grid-area: 6 / 1 / 7 / 9;
}

.limits-row p {
    font-weight: 500;
}